/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar styles */
.navbar {
    background-color: #49274A; /* Dark purple background */
    color: #fff; /* White text color */
    padding: 15px 0; /* Increased padding for better spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.navbar-brand {
    font-size: 28px; /* Slightly larger font size for brand */
    font-weight: bold;
    color: #fff; /* White color for brand text */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
}

.nav-link {
    color: #fff; /* White color for nav links */
    text-decoration: none;
    font-size: 18px; /* Increased font size for nav links */
    transition: color 0.3s; /* Smooth transition effect */
}

.nav-link:hover {
    color: #f5f5f5; /* Light sand color on hover */
}

/* Section styles */
.main-headline {
    font-size: 24px;
    font-weight: bold;
    color: #49274A;
    margin-bottom: 20px;
}

.sub-headline {
    font-size: 20px;
    font-weight: bold;
    color: #49274A;
    margin-top: 20px;
}

.description {
    font-size: 18px;
    line-height: 1.6;
    color: #646464;
}

/* Privacy section styles */
.privacy-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.section-heading {
    font-size: 36px;
    font-weight: bold;
    color: #49274A;
    margin-bottom: 20px;
}

.privacy-policy {
    font-size: 18px;
    line-height: 1.6;
    color: #646464;
}

/* Footer styles */
footer {
    background-color: #49274A;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 767px) {
    .navbar-brand {
        font-size: 22px;
    }

    .navbar-nav .nav-item {
        margin-left: 10px;
    }

    .main-headline {
        font-size: 20px;
    }

    .sub-headline {
        font-size: 18px;
    }

    .description {
        font-size: 16px;
    }

    .container {
        padding: 0 10px;
    }

    .navbar-toggler-icon {
        background-color: #49274A;
    }

    .nav-item {
        margin-left: 10px;
    }
}
