/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    animation: fadeIn 1s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.tool-content {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    animation: slideIn 1s forwards;
}

.tool-content h2 {
    color: #49274A;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: fadeIn 1s forwards;
}

.tool-content .content {
    line-height: 1.6;
}

.tool-content h3 {
    color: #49274A;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.tool-content ul {
    padding-left: 20px;
}

.tool-content ul li {
    margin-bottom: 10px;
}

.category-list h3 {
    color: #49274A;
    font-size: 20px;
    font-weight: bold;
    animation: fadeIn 1s forwards;
    margin-bottom: 10px; /* Add margin bottom to create space between categories */
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.category-list ul {
    padding: 0;
}

.category-list ul li {
    margin-bottom: 10px;
}

.category-list ul li a {
    color: #646464;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 15px; /* Increased padding */
    display: block;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.category-list ul li a:hover {
    color: #fff;
    background-color: #49274A;
}

.custom-navbar {
    background-color: #49274A;
    padding: 15px 0;
    animation: slideInFromTop 1s forwards;
}

.custom-navbar .navbar-brand img {
    width: 120px; 
    height: auto;
    transition: transform 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link {
    color: #F8EEE7;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #f5f5f5;
}

@media (max-width: 768px) {
    .custom-navbar .navbar-brand img {
        width: 100px; 
    }

    .category-list h3 {
        font-size: 18px;
    }

    .category-list ul li a {
        font-size: 14px;
    }
}

/* Animation */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
