/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.tool-content {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.tool-content h2 {
    color: #49274A;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tool-content .content {
    line-height: 1.6;
}

.tool-content h3 {
    color: #49274A;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.tool-content ul {
    padding-left: 20px;
}

.tool-content ul li {
    margin-bottom: 10px;
}

.category-list h3 {
    color: #49274A;
    font-size: 20px;
    font-weight: bold;
}

.category-list ul {
    padding-left: 0;
    list-style: none;
}

.category-list ul li {
    margin-bottom: 10px;
}

.category-list ul li a {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease;
}

.category-list ul li a:hover {
    color: #49274A;
}
.custom-navbar {
    background-color: #49274A;
    padding: 15px 0;
    animation: slideInFromTop 1s forwards;
}

.custom-navbar .navbar-brand img {
    width: 120px; 
    height: auto;
    transition: transform 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link {
    color: #F8EEE7;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #f5f5f5;
}


@media (max-width: 768px) {
    .custom-navbar .navbar-brand img {
        width: 100px; 
    }
  
}


/* Section styles */
.tool-content {
    margin-bottom: 40px;
    display: none;
}

.tool-content h2 {
    color: #49274A;
    border-bottom: 2px solid #49274A;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.tool-content h3 {
    color: #49274A;
    font-size: 25px;
    border-bottom: 2px solid #49274A;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tool-content p {
    color: #130000;
    margin-bottom: 15px;
}
.category-list h3 {
    color: #fff;
    background-color: #49274A;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px; /* Add margin bottom to create space between categories */
}

.category-list ul {
    padding: 0;
}

.category-list ul li {
    margin-bottom: 10px;
}

.category-list ul li a {
    color: #646464;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 15px; /* Increased padding */
    display: block;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.category-list ul li a:hover {
    color: #fff;
    background-color: #49274A;
}


/* Responsive styles */
@media screen and (max-width: 768px) {

    .category-list h3 {
        font-size: 18px;
    }

    .category-list ul li a {
        font-size: 14px;
    }
}
