/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.custom-navbar {
    background-color: #49274A;
    padding: 15px 0;
    animation: slideInFromTop 1s forwards;
}

.custom-navbar .navbar-brand img {
    width: 120px; 
    height: auto;
    transition: transform 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link {
    color: #F8EEE7;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #f5f5f5;
}

.custom-navbar .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.custom-navbar .search-bar input[type="text"] {
    background-color:#f5f5f5;
    color: #49274A;
    border: none;
    padding: 8px;
    border-radius: 5px; 
    width: 150px; 
    transition: width 0.3s ease; 
}

.custom-navbar .search-bar .search-btn {
    background-color: #f5f5f5;
    border: none;
    color: #49274A;
    padding: 8px 12px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-navbar .search-bar .search-btn:hover {
    background-color: #94618E;
    color: #f5f5f5;
}

@media (max-width: 768px) {
    .custom-navbar .navbar-brand img {
        width: 100px; 
    }

    .custom-navbar .search-bar {
        flex: 1; 
        margin-left: 10px; 
    }

    .custom-navbar .search-bar input[type="text"] {
        width: calc(100% - 40px); 
    }
}

/* Footer styles */
.footer {
    background-color: #49274A;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Contact Form styles */
#contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#contact-form label {
    display: block;
    margin-bottom: 15px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#contact-form textarea {
    height: 150px; 
}

#contact-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #49274A;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button[type="submit"]:hover {
    background-color: #3c1e3c; 
}

#message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.error {
    background-color: #d4edda; 
    color: #155724; 
}

.success {
    background-color: #f8d7da; 
    color: #721c24; 
}

/* Typography */
h2.section-title,
h3.subsection-title {
    color: #49274A;
}

p.section-description {
    color: #050000;
}

ul.contact-list,
ul.social-links {
    list-style-type: none;
    padding-left: 0;
}

ul.contact-list li,
ul.social-links li {
    margin-bottom: 10px;
}

ul.social-links li a {
    color: #49274A;
    text-decoration: none;
}

ul.social-links li a:hover {
    color: #94618E;
}

/* Animation */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
