body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    color: #49274A;
}

/* Navbar Styles */
.custom-navbar {
    background-color: #49274A;
    padding: 15px 0;
}

.custom-navbar .navbar-brand img {
    width: 120px; 
    height: auto;
    transition: transform 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link {
    color: #F8EEE7;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #f5f5f5;
}

.custom-navbar .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.custom-navbar .search-bar input[type="text"] {
    background-color:#f5f5f5;
    color: #49274A;
    border: none;
    padding: 8px;
    border-radius: 5px; 
    width: 150px; 
    transition: width 0.3s ease; 
}

.custom-navbar .search-bar .search-btn {
    background-color: #f5f5f5;
    border: none;
    color: #49274A;
    padding: 8px 12px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-navbar .search-bar .search-btn:hover {
    background-color: #94618E;
    color: #f5f5f5;
}

@media (max-width: 768px) {
    .custom-navbar .navbar-brand img {
        width: 100px; 
    }

    .custom-navbar .search-bar {
        flex: 1; 
        margin-left: 10px; 
    }

    .custom-navbar .search-bar input[type="text"] {
        width: calc(100% - 40px); 
    }
}


/* Section Styles */
.section-container {
    padding: 40px;
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    border-radius: 15px;
    border: 2px solid #94618E;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

.section-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.section-container:hover:before {
    opacity: 0.8;
}

/* Main headline style */
.main-headline {
    font-size: 2.5rem;
    font-weight: bold;
    color: #49274A;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Description style */
.description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #49274A;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    transition: transform 0.3s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.05);
}
/* Footer Styles */
.footer {
    background-color: #49274A;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #94618E;
}

.footer-logo img {
    width: 120px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

.quick-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.quick-links ul li {
    margin-right: 20px;
}

.quick-links ul li:last-child {
    margin-right: 0;
}

.quick-links a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    transition: color 0.3s ease;
}

.quick-links a:hover {
    color: #f5f5f5;
}

.social-links {
    color: #f5f5f5;
}

.social-links p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    text-decoration: none;
    margin-right: 10px;
}

.social-icons a img {
    width: 30px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-logo img {
        width: 100px;
        margin-bottom: 15px;
    }

    .quick-links ul li {
        margin-right: 15px;
    }

    .quick-links a {
        font-size: 12px;
    }

    .social-icons a img {
        width: 25px;
    }
}

/* Chatbot icon styles */
.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000; 
}

.chatbot-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #94618E; 
    background-color: #49274A; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}

.chatbot-icon img:hover {
    transform: scale(1.1); 
}

.chatbot-container {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.introduction p {
    margin: 10px;
    font-size: 14px;
}

.question-boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.question-box {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#f5f5f5; 
    font-size: 14px;
}

.user-query {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.send-btn {
    width: calc(100% - 20px);
    margin: 0 10px 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #94618E; 
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.user-message, .chatbot-message {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.user-message {
    background-color: #94618E; 
    color: #fff;
}

.chatbot-message {
    background-color: #49274A; 
    color: #fff;
}
@media screen and (max-width: 768px) {
    .section-container {
        padding: 20px;
    }

    .main-headline {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .description {
        font-size: 1rem;
        margin-bottom: 10px;
    }
@media screen and (max-width: 768px) {
    .about-section .col-md-6 {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
}
    .chatbot-icon {
        bottom: 10px;
        right: 10px;
    }

    .chatbot-icon img {
        width: 40px;
        height: 40px;
    }
    .chatbot-container {
        width: 90%;
        bottom: 60px;
        right: 5%;
    }
    .question-boxes {
        padding: 5px;
    }

    .question-box {
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 5px;
        font-size: 12px;
    }

    .user-query {
        margin: 5px;
        padding: 8px;
        font-size: 12px;
    }

    .send-btn {
        margin: 0 5px 5px;
        padding: 8px;
        font-size: 12px;
    }

    .user-message, .chatbot-message {
        margin: 2px 5px;
        padding: 8px;
        font-size: 12px;
    }
}
.video-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; 
}

.video-wrapper iframe, .video-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-section {
    padding: 50px 0;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    transition: transform 0.6s ease;
}

.carousel-item.active {
    display: block;
}

.carousel-item iframe {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #000;
    font-size: 30px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.about-us-section,
.video-section {
    border-bottom: 1px solid #e0e0e0; 
    padding-bottom: 50px; 
}

.container.mt-5 {
    padding-top: 50px; 
}
.about-us-section .section-heading {
    margin-bottom: 30px;
    font-size: 36px; 
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    color: #49274A;
}

.about-us-content {
    padding-left: 20px;
}

.about-us-content p {
    margin-bottom: 20px;
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
    line-height: 1.6; 
    color: #49274A; 
}

.about-us-section img {
    width: 100%;
    border-radius: 12px; 
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); 
}

